<?xml version="1.0"?>

<launch>
    
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" /> 
  <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" />
  
  <include file="$(find rt2_exercises)/launch/simulation_gmapping.launch"/>
  <include file="$(find rt2_exercises)/launch/move_base.launch"/>

  <node pkg="rt2_exercises" type="master.py" name="controller" output="screen"/>

</launch>
